<launch>
    <node pkg="ros_nmpt_saliency" type="ros_nmpt_saliency_node" name="ros_nmpt_saliency_node" output="screen">
        <param name="image" value="/softkinetic_camera/rgb_data" />
        <param name="visualize" value="true" />
	    <param name="use_depth" value="false" />
    </node>
</launch>
